<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creativechintak.multiimagepicker">

    <application
        android:requestLegacyExternalStorage="true"
        >

        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity
            android:name=".StartImagePickerActivity"
            android:theme="@style/DialogThemeAppCompat"
            android:configChanges="orientation"
            android:exported="false" />
    </application>

</manifest>